*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --azul:#041181;
    --verde:#22E3C2;
}


@font-face {
        font-family: "Champions-Regular";
        src: url("fonts/champions-regular.woff2");
}






/*----------------------------------------------------   HEADER  -----------------------------------------------------------------*/

.container {
    width: 100%;
    height: 110vh;
    background-image: url(fallback.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
}

nav{
	display: flex;
	width: 100%;
	align-items:flex-start;
	
	padding: 5px 0;
}

.logo {
    max-width: 201px;
    max-height: 93px;
    margin: 14px 74px;
    cursor: pointer;
}
nav ul {
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 54px 40px;
}

nav ul li a{
	color: #fff;
	text-decoration: none;
	position: relative;
}



/*------------------------- MAIN -----------------------------*/

/*-----------------------    HEAD TO HEAD   -------------------------------------*/
.text-box{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
	color: #fff;
	position: absolute;
	top: 15%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
}

.head-to-head{
    display: flex;
    justify-content: center;
    position:absolute;
    width: 75%;
    height: 90%;     
    top: 15%;
    background-color: rgba(4,17,129,.7);
}

.grid-section{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(2, 43%);
  	grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 10%;
    grid-gap: 15px;  
    padding: 15px;
    border-top: 1px solid rgba(223, 4, 243, 0.4);
    border-bottom: 1px solid rgba(223, 4, 243, 0.4);  
}
.grid {
	overflow: hidden;
	position: relative;   
    border: 2px solid var(--verde);  
    cursor: pointer; 

}

.grid p{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}


.grid-img{
    display: flex;
    flex-direction: column;
    margin-left: -5%;
    margin-top: 17%;
    width: 50%;
    height: 50%;
}

.grid-img img{
    object-fit: none;
}


.grid-img2{
    display: flex;
    flex-direction: column;  
    margin-left: 50%;
    margin-top: 17%;
    width: 50%;
    height: 50%;
}

.grid-img2 img{
    object-fit: none;
}

/*------------------- MATCH1 -------------------------*/
.grid:nth-child(1){
	grid-row:1/2;
    grid-column: 1/2;
}
.grid:nth-child(2){
	grid-row:1/2;
    grid-column: 1/2;
}
.grid:nth-child(3){
	grid-row:1/2;
    grid-column: 1/2;
}

/*------------------- MATCH2 -------------------------*/
.grid:nth-child(4){
	grid-row:1/2;
    grid-column: 2/3;
}
.grid:nth-child(5){
	grid-row:1/2;
    grid-column: 2/3;
}
.grid:nth-child(6){
	grid-row:1/2;
    grid-column: 2/3;
}

/*------------------- MATCH3 -------------------------*/
.grid:nth-child(7){
	grid-row:1/2;
    grid-column: 3/4;
}
.grid:nth-child(8){
	grid-row:1/2;
    grid-column: 3/4;
}
.grid:nth-child(9){
	grid-row:1/2;
    grid-column: 3/4;
}
/*------------------- MATCH4 -------------------------*/
.grid:nth-child(10){
	grid-row:2/3;
    grid-column: 1/2;
}
.grid:nth-child(11){
	grid-row:2/3;
    grid-column: 1/2;
}
.grid:nth-child(12){
	grid-row:2/3;
    grid-column: 1/2;
}
/*------------------- MATCH5 -------------------------*/
.grid:nth-child(13){
	grid-row:2/3;
    grid-column: 2/3;
}
.grid:nth-child(14){
	grid-row:2/3;
    grid-column: 2/3;
}
.grid:nth-child(15){
	grid-row:2/3;
    grid-column: 2/3;
}
/*------------------- MATCH6 -------------------------*/
.grid:nth-child(16){
	grid-row:2/3;
    grid-column: 3/4;
}
.grid:nth-child(17){
	grid-row:2/3;
    grid-column: 3/4;
}
.grid:nth-child(18){
	grid-row:2/3;
    grid-column: 3/4;
}

.grid:nth-child(19){
    grid-row: 3/3;
    grid-column: 2/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.grid .grid-img .Borussia {
    transform: scale(0.9);
}

.grid .grid-img2 .Real {
    margin-top: 3%;
  
}

.grid .grid-img2 .United {
    margin-top: -3%;
}

.grid .grid-img2 .Lyon {
    margin-top: -3%;    
}




.grid .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1.87em;
    color: var(--verde);
    cursor: pointer;    
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    font-family: 'Open Sans';
}

.grid .button i {
    margin-left: 1em;
}

   


.grid .button:hover{
    background: var(--verde);
    color: #fff;
}




/*------------------------------------------- SECTION -----------------------------------------------*/


.container2 {
    width: 100%;
    height: 2280px;
    background-image: url(img-players/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    position: relative;

}


.container-de-container{
    display: flex;    
    width: 75%;
    height: 100%;
    flex-direction: column;
}


.container-de-container .videos-contenedor, .campeones, .goleadores{
    display: flex;    
    width: 90%;
    color: #fff;
}

.videos-contenedor {
    flex-direction: column;
    font-size: 1.4rem;
    padding: 35px 15px;
}


.videos-contenedor .contenedor-principal .flecha-izquierda, /*---------------Flechas--------------------*/
.videos-contenedor .contenedor-principal .flecha-derecha{
	position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-size: 35px;
	height: 50%;
	top: calc(50%-33%);	/*50% del tamaño del contenedor -25% que es el alto del botón*/
	line-height: 40px;
	width: 50px;
	color: var(--verde);
	cursor: pointer;
	z-index: 500;
}

/*---------------Flechas--------------------*/

.videos-contenedor .contenedor-principal .flecha-izquierda{ 
	left: -50px;
}
.videos-contenedor .contenedor-principal .flecha-derecha{
	right: -50px;
}

/*------------------------------------------- CAROUSEL ----------------------------------------------------*/

.videos-contenedor .contenedor-principal {
	display: flex;
	align-items: center;
    position: relative;
    margin-top: 5%;
    width: 100%;
}

.videos-contenedor{
    margin-top: 40px;
    height: 220px;
}
.videos-contenedor .contenedor-carousel {
	width: 100%;	
	overflow:hidden;
	scroll-behavior: smooth;
}

.videos-contenedor .contenedor-carousel .carousel{
	display: flex;
	flex-wrap: nowrap;
}

.videos-contenedor .contenedor-carousel .carousel .video{
	min-width: 33%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.videos-contenedor .contenedor-carousel .carousel .video img{
	width: 98%;
	vertical-align: top;
	height: 100%;
}





.campeones{
    height: 700px;
    margin-top: 180px;
    font-family: "Champions-Regular";
    font-size: 1.4rem;
    background-color: rgba(4,17,129,.7);
    color: #fff;

}




.grid-section2{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(5, 18%);
    grid-template-columns: 100%;
    grid-gap: 15px;  
    padding: 15px; 
    position: relative; 
}


    .grid2 {
        display: flex;
        overflow:hidden;
        position: relative;   
        cursor: pointer; 
        width: 100%;
        align-items: center;
    
    }


    .grid2:nth-child(1){
        grid-row:1/2;
        grid-column: 1/1;
        border-bottom: 1px solid rgba(0, 0, 0, .22);  
    }
    .grid2:nth-child(2){
        grid-row:2/3;
        grid-column: 1/1;
    }
    .grid2:nth-child(3){
        grid-row:3/4;
        grid-column: 1/1;
    }
    .grid2:nth-child(4){
        grid-row:4/5;
        grid-column: 1/1;
    }

    .grid2:nth-child(5){
        grid-row:5/6;
        grid-column: 1/1;
    }
    .grid2:nth-child(6){
        grid-row:2/3;
        grid-column: 1/1;
    }
    .grid2:nth-child(7){
        grid-row:3/4;
        grid-column: 1/1;
    }
    .grid2:nth-child(8){
        grid-row:4/5;
        grid-column: 1/1;
    }
    .grid2:nth-child(9){
        grid-row:5/6;
        grid-column: 1/1;
    }

    .grid-png{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .grid2 .t1, .t2, .t3, .t4 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 88%;
        width: 8%;
        height: 50%;
    }


.goleadores {
        height: 600px;
        margin-top: 180px;
        font-family: "Champions-Regular";
        color: #fff;
        background-color: rgba(4,17,129,.7);
        font-size: 1.4em;
    }

    .grid-section3{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: repeat(5, 18%);
        grid-template-columns: 100%;
        grid-gap: 15px;  
        padding: 15px; 
        position: relative; 
    }
    
    
        .grid3 {
            display: flex;
            overflow:hidden;
            position: relative;       
            cursor: pointer; 
            width: 100%;
            align-items: center;
        }

        .grid3 p{
            margin-left: 1%;
        }
    
    
        .grid3:nth-child(1){
            grid-row:1/2;
            grid-column: 1/1;
            border-bottom: 1px solid rgba(0, 0, 0, .22);  
        }
        .grid3:nth-child(2){
            grid-row:2/3;
            grid-column: 1/1;
        }
        .grid3:nth-child(3){
            grid-row:3/4;
            grid-column: 1/1;
        }
        .grid3:nth-child(4){
            grid-row:4/5;
            grid-column: 1/1;
        }
    
        .grid3:nth-child(5){
            grid-row:5/6;
            grid-column: 1/1;
        }
        .grid3:nth-child(6){
            grid-row:2/3;
            grid-column: 1/1;
        }
        .grid3:nth-child(7){
            grid-row:3/4;
            grid-column: 1/1;
        }
        .grid3:nth-child(8){
            grid-row:4/5;
            grid-column: 1/1;
        }
        .grid3:nth-child(9){
            grid-row:5/6;
            grid-column: 1/1;
        }
    
        .grid-jpg{
            width: 50%;

            display: flex;
            align-items: center;
        }
        .grid-jpg img{
            object-fit:fill;
            width: 18%;
            height: 75%;
        }
        .grid3 .t1, .t2, .t3, .t4 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 88%;
            width: 8%;
            height: 50%;
        }







/*------------------------------------------- FOOTER -----------------------------------------------*/

footer .container4{
    background-image: url(1.jpg);
    height: 100%;
    width: 100%;
    height: 520px;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}



.caja-texto{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #ccc;
}
.container4  img {
    position: absolute;
    max-width: 25%;
    max-height: 35%;
}






/*-----------------------------------------------RESPONSIVE DESIGN ------------------------------------------------*/
@media screen and (max-width: 1000px){
    .container{
        height: 190vh;
        background-image: url(fondo-responsive.jpg);
    }

    .nav{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .nav img{
        margin: auto;
    }
    nav ul{
        padding-right: 0px;
    }
    nav ul li{
        margin: 54px 20px;
    }
    
    .text-box{
        top: 13%;
    }

    .grid-section{
        grid-template-rows: repeat(3, 29%);
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 10%;
        grid-gap: 15px;  
        padding: 15px;        
    }
    .grid p{
        font-size: 0.8em;
    }
    /*------------------- MATCH3 -------------------------*/
    .grid:nth-child(7){
	    grid-row:3/4;
        grid-column: 1/2;
    }
    .grid:nth-child(8){
	    grid-row:3/4;
        grid-column: 1/2;
    }
    .grid:nth-child(9){
	    grid-row:3/4;
        grid-column: 1/2;
    }

    /*------------------- MATCH6 -------------------------*/
    .grid:nth-child(16){
	    grid-row:3/4;
        grid-column: 2/3;
    }
    .grid:nth-child(17){
	    grid-row:3/4;
        grid-column: 2/3;
    }
    .grid:nth-child(18){
	    grid-row:3/4;
        grid-column: 2/3;
    }

    /*-------------BUTTON MORE---------------*/
    .grid:nth-child(19){
        grid-row: 4/5;
        grid-column: 1/3;
        width: 50%;
        height: 70%;
        margin-left: 25%;
    }

    .container2{
        height: 2030px;
        align-items: flex-start;
    }
    .container-de-container{
        width: 98%;
    }
    
    .container-de-container .videos-contenedor{
        width: 100%;
        padding: 5px 10px;
        
    }
    .videos-contenedor .contenedor-carousel .carousel .video{
        min-width: 100%;
}
    .videos-contenedor .contenedor-principal .flecha-izquierda, /*---------------Flechas--------------------*/
    .videos-contenedor .contenedor-principal .flecha-derecha{
        display: none;
}

    .campeones, .goleadores{
        width: 100%;
    }
}









@media screen and (max-width: 750px){
    .head-to-head{
        top: 10%;
    }
    .container{
        height: 300vh;
    }
    .grid-section{
        grid-template-rows: repeat(6, 15%);
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 10%;
        grid-gap: 15px;  
        padding: 15px;        
    }
    /*------------------- MATCH2 -------------------------*/
    .grid:nth-child(4){
	    grid-row:4/5;
        grid-column: 1/2;
    }
    .grid:nth-child(5){
	    grid-row:4/5;
        grid-column:1/2;
    }
    .grid:nth-child(6){
	    grid-row:4/5;
        grid-column: 1/2;
    }
    /*------------------- MATCH5 -------------------------*/
    .grid:nth-child(13){
	    grid-row:5/6;
        grid-column: 1/2;
    }
    .grid:nth-child(14){
	    grid-row:5/6;
        grid-column: 1/2;
    }
    .grid:nth-child(15){
	    grid-row:5/6;
        grid-column: 1/2;
    }
    /*------------------- MATCH6 -------------------------*/
    .grid:nth-child(16){
	    grid-row:6/7;
        grid-column: 1/2;
    }
    .grid:nth-child(17){
	    grid-row:6/7;
        grid-column: 1/2;
    }
    .grid:nth-child(18){
	    grid-row:6/7;
        grid-column: 1/2;
    }
    /*-------------BUTTON MORE---------------*/
    .grid:nth-child(19){
        grid-row: 7/8;
        grid-column: 1/2;
        width: 50%;
        height: 40%;
    }
}
